.jmv-action-button {
    padding: 8px 20px;
    width: max-content;
    background: #bd5264;
    background-image: linear-gradient(to bottom, #bd5264, #a43e4f);
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-style: none;
    transition: 0.2s all;
}

button.jmv-action-button[aria-disabled] {
    color: #c5c5c5;
    background-color: #ababab;
    background-image: none;
    box-shadow: none;
}

.jmv-action-button:active:hover {
    background: #c9707f;
}

.jmv-action-button:hover {
    background: #c9707f;
    background-image: linear-gradient(to bottom, #c9707f, #bd5264);
}